.container
  %ul
    - @task.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @task, url: board_tasks_path(@board), local: true) do |f|
    = f.hidden_field :board_id, value: @board.id
    %h2 New task
    .field
      = f.label :Name, class: "label"
      = f.text_field :name, class: 'text'
    .field
      = f.label :Description, class: "label"
      = f.text_area :description, class: "description"
    .field
      = f.label :eye_catch, "アイキャッチ画像"
      = f.file_field :eye_catch
    .actions
      = f.submit 'Submit', class: 'tasks-btn'