.container 
  %h2 All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .board
        .board_content
          .board_name
            = board.name
          .board_description
            = board.description
        - if user_signed_in? && current_user.has_written?(board)
          .dropbtn
            = image_tag 'Combined Shape.png', class: 'dropbtn'
            .dropbtn-content
              = link_to 'Edit', edit_board_path(board)
              = link_to 'Delete', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  = link_to new_board_path do
    .new_board
      %p + Add new board